@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	word-break: break-word;
	background-color: var(--ion-color-light);;
}
.text-dark {
	border-radius: 2vw 2vw 2vw 2vw;
	--bs-text-opacity: 1;
	color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity))!important;
  }
  .nextui-c-egxOLa{
	border-radius: 1vw;
  }
  .nextui-c-hhqfap-ieQnWyR-css{
	background: none !important;
	
  }

  .nextui-c-dWWWSv-dvkEXO-shadow-true{
	padding: 0 !important;
  }

  .nextui-c-hhqfap-kAwfsS-disableShadow-false{
	box-shadow: none !important;
  }
  

  :root {
	  --ion-color-primary: rgb(255, 255, 255);
	  --ion-color-primary-rgb: NaN,27,171;
	  --ion-color-primary-contrast: #898989;
	  --ion-color-primary-contrast-rgb: 209, 209, 209;
	  --ion-color-primary-shade: #aaaaaa;
	  --ion-color-primary-tint: #bebebe;
  
	  --ion-color-secondary: #f6f6f6;
	  --ion-color-secondary-rgb: 29,29,32;
	  --ion-color-secondary-contrast: #232323;
	  --ion-color-secondary-contrast-rgb: 255,255,255;
	  --ion-color-secondary-shade: #1a1a1c;
	  --ion-color-secondary-tint: #343436;
  
	  --ion-color-tertiary: #0f91ff;
	  --ion-color-tertiary-rgb: 15,145,255;
	  --ion-color-tertiary-contrast: #ffffff;
	  --ion-color-tertiary-contrast-rgb: 255,255,255;
	  --ion-color-tertiary-shade: #0d80e0;
	  --ion-color-tertiary-tint: #279cff;
  
	  --ion-color-success: #2b2b2b;
	  --ion-color-success-rgb: 45,211,111;
	  --ion-color-success-contrast: #2591f5;
	  --ion-color-success-contrast-rgb: 0,0,0;
	  --ion-color-success-shade: #161616;
	  --ion-color-success-tint: #131413;
  
	  --ion-color-warning: #ffffff;
	  --ion-color-warning-rgb: 255,196,9;
	  --ion-color-warning-contrast: #000000;
	  --ion-color-warning-contrast-rgb: 0,0,0;
	  --ion-color-warning-shade: #c2c2c2;
	  --ion-color-warning-tint: #b5b5b5;
  
	  --ion-color-danger: #eb445a;
	  --ion-color-danger-rgb: 235,68,90;
	  --ion-color-danger-contrast: #ffffff;
	  --ion-color-danger-contrast-rgb: 255,255,255;
	  --ion-color-danger-shade: #cf3c4f;
	  --ion-color-danger-tint: #ed576b;
  
	  --ion-color-medium: #0f91ff;
	  --ion-color-medium-rgb: 117,117,132;
	  --ion-color-medium-contrast: #ffffff;
	  --ion-color-medium-contrast-rgb: 255,255,255;
	  --ion-color-medium-shade: #676774;
	  --ion-color-medium-tint: #026fdc;
  
	  --ion-color-light: #ffffff;
	  --ion-color-light-rgb: #000000;
	  --ion-color-light-contrast: #000000;
	  --ion-color-light-contrast-rgb: #000000;
	  --ion-color-light-shade: #d7d8da;
	  --ion-color-light-tint: #f5f6f9;

	  --ion-color-dark: #272727;
	  --ion-color-dark-rgb: 244,245,248;
	  --ion-color-dark-contrast: #3a3a3a;
	  --ion-color-dark-contrast-rgb: 0,0,0;
	  --ion-color-dark-shade: rgb(31, 31, 32);
	  --ion-color-dark-tint: rgb(40, 41, 42);
  
  }
  


.card-header{
  position: relative;
  height: 220px;
  background-size: cover;
  background-position: top;
}
.card-header:after{
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgb(5,85,134), rgba(181,181,181, 0.1));
}



  /* Fallback for older browsers or manual mode */
  body.dark {
	/* Dark mode variables go here */
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-primary: rgb(48, 48, 48);
	--ion-color-dark: rgb(255, 255, 255);
	--ion-color-success-contrast: #f5efef;
	--ion-color-tertiary: black;
	--ion-color-primary-contrast-rgb: 27, 171, 255;
	--ion-color-light: rgb(34, 34, 34);
	--ion-color-secondary: #2a2a2a;
	--ion-color-success: #032570;
	--ion-color-light-contrast: #f3f3f3;
	--ion-color-medium: #0160b9;
	--ion-color-medium-contrast-rgb: #0273dd;
	  --ion-color-medium-shade: #0752ae;
	  --ion-color-medium-tint: #0537ab;
	  --ion-color-warning: #162338;
	  --ion-color-warning-rgb: 255,196,9;
	  --ion-color-warning-contrast: #fefefe;
	  --ion-color-warning-contrast-rgb: 0,0,0;
	  --ion-color-warning-shade: #011226;
	  --ion-color-warning-tint: #ffffff;
  }
  


  #side{
    --ion-background-color: var(--ion-color-light);
}
 
.nextui-navbar-container{
	background: var(--ion-color-primary) !important;
  }

.nextui-navbar-container{
	border-radius: 0;
	border-bottom-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
}
  
.nextui-c-egxOLa {
	max-width: 100% ;
}

  #darkside{
	color: var(--ion-color-dark);
  }
  #darkside:hover{
	color: var(--ion-color-light);
  }

  #ldcard{
	background: var(--ion-color-light);
	border-color: var(--ion-color-dark);
	box-shadow: none;
  }
  
  #sidemenu{
	  border: 0;
  }

  #texts{
	color:var(--ion-color-light);
  }
  
  
  .ion-color.sc-ion-searchbar-md-h .searchbar-input.sc-ion-searchbar-md{
	border-top-left-radius: 1.5vw;
	border-top-right-radius: 1.5vw;
  }
  
  .card-body {
	flex: 1 1 auto;
	padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
	
   border-radius: 2vmin 2vmin 2vmin 2vmin !important;
  
  }
  
 
  
  ion-toast.custom-toast:hover{
  
	border:  1px var(--ion-color-light) solid;
	animation-duration: 2s;
  }

  ion-backdrop {
	opacity: 0.9;
	background: var(--ion-color-primary);
  }
  
  .card{
   border-radius: 0vmin 0vmin 2vmin 2vmin ;

  transition: all .3s ease-in-out;
  }
  
  @media screen and (min-width: 992px) {
	/* Styles to apply for screens 992 pixels or wider */
   #menubutton{
	display: none;
   }
  }
  @media screen and (max-width: 427px) {
	/* Styles to apply for screens 992 pixels or wider */
   
	#logox{
		display: none;
	}
  }

  @media screen and (min-width: 764px) {
	/* Styles to apply for screens 992 pixels or wider */
   
	#sidex{
		height: 100vh;
	}
  }

  #sidex{
	top: 0;
    bottom: 0;
	height: 100vh;
	position: sticky;
}

.ps-sidebar-container{
	background-color: var(--ion-color-light) !important;
}
  
  
  
  #showcard:hover {
  box-shadow: rgba(7, 188, 254, 0.22) 0px 1px 3px;
  transform: translate3d(0px, -1px, 0px);
  filter: blur(-100px)
  }
  
  
  .listG{
	font-size: 1vmax; 
	font-weight: 600;
  }
  
  .css-i4bv87-MuiSvgIcon-root:hover{
  
	color: rgb(43, 177, 255) !important;
  }
  
  
  
  
  .css-1ws8119-MuiDivider-root::before, .css-1ws8119-MuiDivider-root::after{
	border-top: thin solid rgb(255, 255, 255) !important;
  }
  